<nav class="navbar navbar-default">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Home</a></li>

    {% if auth.check %}
    	<li>Hello {{ auth.user.firstname }} {{ auth.user.lastname }}</li>
      <li><a href="{{ path_for('auth.password.change') }}">Change password</a></li>
    	<li><a href="{{ path_for('auth.signout') }}">Sign out</a></li>
    {% else %}
    	<li><a href="{{ path_for('auth.signup') }}">Sign up</a></li>
    	<li><a href="{{ path_for('auth.signin') }}">Sign in</a></li>
    {% endif %}
  </ul>
</nav>
