<form action="{{ path_for('auth.signin') }}" method="POST">
	<div class="form-control{{ errors.email ? ' has-error' : '' }}">
		<label for="name">Email</label>
		<input type="text" name="email" id="email" value="{{ old.email }}" autocomplete="off">
		{% if errors.email %}
			<span>{{ errors.email | first }}</span>
		{% endif %}
	</div>
	<div class="form-control{{ errors.password ? ' has-error' : '' }}">
		<label for="name">Password</label>
		<input type="password" name="password" id="password" autocomplete="off">
		{% if errors.password %}
			<span>{{ errors.password | first }}</span>
		{% endif %}
	</div>
	<button type="submit">Sign in</button>
	{{ csrf_field() | raw }}
</form>


